.main{
    height: 90px;
    width: 100%;
    background-color: rgb(146, 218, 0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 53px;}
.main a{
    text-transform: capitalize;
    text-decoration: none;
    text-shadow: none;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
.main .btn{
    padding: 7px 29px;
    border-radius: 6px;
    color: red;
    font-weight: bold;
}